
  

  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
     <ion-toolbar>
        <ion-title size="large">Blank</ion-title>
      </ion-toolbar>
    </ion-header>

    <div id="container">
     <strong>Bem vindo à sua lista de compras!</strong>
     <br/><br/>
     <div class="center">
     <div class="card">
      <div>
        <form>
          <ion-list>
            
            <ion-item>
              <ion-input label="Descrição:"
                name="descricao"
                [(ngModel)]="novoItem.descricao"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input label="Quantidade:" 
                type="number"
                name="quantidade"
                [(ngModel)]="novoItem.quantidade"></ion-input>
            </ion-item>
            <div class="center">
              <ion-item>
                <ion-button color="dark" (click)="cadastrar()">Cadastrar</ion-button>
              </ion-item>
            </div>

           
          </ion-list>
      </form>
    </div>
  </div>
</div>
<div class="center">
  <div class="card">
    <div class="color">
    <div *ngIf="lista.length > 0;
        then thenBlock
        else elseBlock"></div>
      
        <ng-template #thenBlock>
          <ion-grid *ngFor="let i of lista">
            <div class="divisao">
            <ion-row>
              
              <div class="alinhamento">
                <div class="espaco">
                  
              <ion-col size=5>
                Descrição: <span>{{i.descricao}}</span>
              </ion-col><br>
              
              <ion-col size=2>
                Quantidade: <span>{{i.quantidade}}</span>
              </ion-col>
            </div>
            </div>
              <ion-col size=3>
              
                
                  <ion-input label="Valor:" 
                    type="number"
                    name="preço unitario"
                    [(ngModel)]="i.precoUnitario"></ion-input>
                
                
              
            </ion-col>
            
              <ion-col size=1>
                <ion-button color="dark" (click)="toggleConcluido(i)">
                  <ion-icon name="{{ i.compraRealizada ? 'checkmark-outline' : 'close-outline' }}"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col size=1>
              <ion-button color="dark" (click)="deletar(i)">
                <ion-icon name="trash-bin"></ion-icon>
              </ion-button>
            </ion-col>
          
          
            </ion-row>
          </div>
          </ion-grid>
          <div class="color2">
            <strong> Total: <span>{{total}}</span></strong>
          </div>
        </ng-template>
    
    <ng-template #elseBlock>
      <span>Nenhum item cadastrado.</span>
    </ng-template>
  </div>
  </div>
  </div>
  </div>

</ion-content>
